@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400..800&family=League+Spartan:wght@100..900&display=swap");
$green: #198b44;
$dropdowncolor: #ebfde9;
$dropdownhover: #c9ffc3;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    -webkit-tap-highlight-color: transparent;
}
/* @@@@@@@@@@@@@@@@@@@@ Header css @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
header {
    box-shadow: 0px 2px 15px -8px rgb(168, 168, 168);

    nav {
        margin: 0 auto;
        width: 1216px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 104px;
        .burger-menu {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: end;
            cursor: pointer;
            display: none;

            &:hover {
                .long-green {
                    display: inline-block;
                    height: 3px;
                    width: 30px;
                    background-color: #10b14e;
                }
                .shot-green {
                    display: inline-block;
                    height: 3px;
                    width: 20px;
                    background-color: #10b14e;
                }
            }
            .long-green {
                display: inline-block;
                height: 3px;
                width: 30px;
                background-color: $green;
            }
            .shot-green {
                display: inline-block;
                height: 3px;
                width: 20px;
                background-color: $green;
            }
        }
        #logo {
            width: 95px;
            height: auto;
        }
        a {
            text-decoration: none;
            color: black;
            div {
                font-size: 20px;
            }
        }
        ul {
            width: 572px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            font-size: 24px;
            height: 40px;
            #companies {
                position: relative;

                display: flex;
                height: 40px;
                align-items: center;
                &:hover {
                    .dropdown {
                        display: flex;
                    }
                }
                .dropdown {
                    position: absolute;
                    top: 40px;
                    transition: 0.2s all;
                    background-color: #ebfde9;
                    width: 206px;
                    height: 127px;
                    border-radius: 26px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0px;
                    padding: 20px;
                    display: none;
                    a {
                        padding: 5px 10px;

                        &:hover {
                            cursor: pointer;

                            background-color: #c9ffc3;
                            border-radius: 8px;

                            i {
                                visibility: visible;
                                font-size: 14px;
                            }
                        }
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 18px;
                        i {
                            visibility: hidden;
                            margin-right: 10px;
                        }
                    }
                }
                &:hover {
                    + .dropdown {
                        display: block;
                    }
                }
            }
            li {
                position: relative;

                .green {
                    height: 7px;
                    width: 7px;
                    border-radius: 100%;
                    background-color: $green;
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    transform: translate(-50%, 70%);
                }
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .contact-us {
            border: 2px solid black;
            width: 169px;
            height: 41px;
            border-radius: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-links-mobile {
            background-color: $dropdowncolor;
            position: absolute;
            height: 100vh;
            width: 30%;
            min-width: 200px;
            left: -100%;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 30px;
            gap: 15px;
            align-items: start;
            transition: 1s all;
            li {
                &:hover {
                    > a {
                        background-color: $dropdownhover;
                        border-radius: 8px;
                    }
                    i {
                        display: block;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    width: 150px;
                    padding: 5px 15px;
                    justify-content: space-between;

                    i {
                        transition: 0.3s all;
                        font-size: 13px;
                        font-weight: 600;
                        display: none;
                    }
                }
            }

            .dropdown {
                display: flex;
                flex-direction: column;
                gap: 5px;
                pointer-events: all;
                a {
                    margin-top: 5px;

                    pointer-events: all;
                    &:hover {
                        pointer-events: all;
                    }
                    div {
                        font-size: 12px;
                        color: $green;
                    }
                }
            }

            #companies-mobile {
                font-size: 20px;
                cursor: pointer;
                /* &:hover{
                    .dropdown{
                        height: auto;
                        opacity: 1;
                        pointer-events: all;
                    }
                } */
                .dropdown {
                    /*   height: 0;
                    opacity: 0; */
                    pointer-events: none;
                    a {
                        &:hover {
                            background-color: $dropdownhover;
                            border-radius: 8px;
                        }
                    }
                }

                #companies-mobile-drop {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 15px;
                    width: 150px;
                    &:hover {
                        background-color: $dropdownhover;
                        border-radius: 8px;
                        i {
                            display: flex;
                        }
                    }
                    i {
                        font-size: 13px;
                        font-weight: 600;
                        display: none;
                    }
                }
            }
        }
    }
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Main css @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
main {
    margin: 60px auto;
    width: 1216px;

    .main-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .responsive-main-img{
            display: none;
        }
        .main-section-content {
            line-height: 80px;
            h1 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    font-size: 75px;
                    font-weight: 700;
                }
                div {
                    display: flex;
                    align-items: center;
                }
                #img-btn {
                    width: 304px;
                    height: auto;
                }
            }
            h2 {
                span {
                    font-size: 70px;
                    font-weight: 700;
                    text-align: center;
                }
                font-size: 70px;
                font-weight: 700;
                text-align: center;
            }
        }

        .main-section-content2 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .content2-left {
                #main-img {
                    width: 721px;
                    height: auto;
                }
            }
            .content2-right {
                display: flex;
                flex-direction: column;
                gap: 25px;
                justify-content: end;
                a {
                    text-decoration: none;
                    img {
                        width: 384px;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 1216px) {
    header nav {
        width: 100%;
        padding: 0px 20px;
    }
    header nav ul {
        display: none;
    }
    header nav > a {
        display: none;
    }
    header nav .burger-menu {
        display: flex;
    }
    main {
        width: 100%;
        padding: 0px 20px;
    }
}

@media (max-width: 1159px) {
   

    main .main-section .main-section-content .main-title {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: clamp(32px, 6vw, 75px);
        gap: 0.5rem;
    }
    main .main-section .main-section-content .main-title .main-title-text1 {
        order: 1;
        flex-grow: 1;
        flex-basis: 48%;
        font-size: 6vw;
        display: flex;
        justify-content: end;
    }
    main .main-section .main-section-content .main-title div {
        order: 0;
        flex-basis: 100%;
        justify-content: center;
    }

    main .main-section .main-section-content h2 {
        font-size: 6vw;
    }
    main .main-section .main-section-content h2 span {
       display: none;
    }
    main .main-section .main-section-content .main-title .main-title-text2 {
        order: 1;
        flex-grow: 1;
        flex-basis: 42%;
        font-size: 6vw;
        display: flex;
        justify-content: start;
    }
    main .main-section .main-section-content2 {
        justify-content: center;
        gap: 30px;
    }
    main .main-section .main-section-content2 .content2-left #main-img {
        width: 100%;
        max-width: 721px;
        height: auto;
    }
    main .main-section .main-section-content2 .content2-right {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}



@media (max-width: 650px) {
    main .main-section {
        gap: 30px;
    }
    main .main-section .main-section-content  {
        line-height: 50px;
    }
    main .main-section .responsive-main-img{
        display: block;
    }
    main .main-section .responsive-main-img img{
        width: 100%;
        max-width: 721px;
        height: auto;
      
    }
    main .main-section .main-section-content h1 #img-btn {
        width: 252px;
        height: auto;
    }
    main .main-section .main-section-content2 .content2-right a img {
        width: 100%;
        height: auto;
    }
    main .main-section .main-section-content2 .content2-left #main-img {
        width: 100%;
        max-width: 721px;
        height: auto;
        display: none;
    }
    main .main-section .main-section-content2 {
        gap: 0px;
    }
    main .main-section .main-section-content .main-title .main-title-text2 {
        order: 1;
        flex-grow: 1;
        flex-basis: 43%;
        font-size: 6vw;
        display: flex;
        justify-content: start;
    }

}