@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400..800&family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* @@@@@@@@@@@@@@@@@@@@ Header css @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
header {
  box-shadow: 0px 2px 15px -8px rgb(168, 168, 168);
}
header nav {
  margin: 0 auto;
  width: 1216px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}
header nav #logo {
  width: 95px;
  height: auto;
}
header nav a {
  text-decoration: none;
  color: black;
}
header nav a div {
  font-size: 20px;
}
header nav ul {
  width: 572px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 24px;
  height: 40px;
}
header nav ul #companies {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
}
header nav ul #companies:hover .dropdown {
  display: flex;
}
header nav ul #companies .dropdown {
  position: absolute;
  top: 40px;
  transition: 0.2s all;
  background-color: #EBFDE9;
  width: 206px;
  height: 127px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  padding: 20px;
  display: none;
}
header nav ul #companies .dropdown a {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
header nav ul #companies .dropdown a:hover {
  cursor: pointer;
  background-color: #C9FFC3;
  border-radius: 8px;
}
header nav ul #companies .dropdown a:hover i {
  visibility: visible;
  font-size: 14px;
}
header nav ul #companies .dropdown a i {
  visibility: hidden;
  margin-right: 10px;
}
header nav ul #companies:hover + .dropdown {
  display: block;
}
header nav ul li {
  position: relative;
}
header nav ul li .green {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: #198B44;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 70%);
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav .contact-us {
  border: 2px solid black;
  width: 169px;
  height: 41px;
  border-radius: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Main css @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
main {
  margin: 60px auto;
  width: 1216px;
}
main .main-section .main-section-content {
  line-height: 80px;
}
main .main-section .main-section-content h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .main-section .main-section-content h1 span {
  font-size: 75px;
  font-weight: 700;
}
main .main-section .main-section-content h1 #img-btn {
  width: 304px;
  height: auto;
}
main .main-section .main-section-content h2 {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}
main .main-section .main-section-content2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-section .main-section-content2 .content2-left #main-img {
  width: 721px;
  height: auto;
}
main .main-section .main-section-content2 .content2-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: end;
}
main .main-section .main-section-content2 .content2-right a {
  text-decoration: none;
}
main .main-section .main-section-content2 .content2-right a img {
  width: 384px;
  height: auto;
}

@media (max-width: 1216px) {
  header nav {
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=styles.css.map */