* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #ebfde9;
}
footer .container-footer {
  padding: 110px 0px 10px 0px;
  margin: 0px auto;
  width: 1216px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
footer .container-footer .container-footer-top {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container-footer .container-footer-top .container-footer-sec1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  bottom: 50px;
}
footer .container-footer .container-footer-top .container-footer-sec1 .footer-logo {
  height: auto;
  width: 95px;
}
footer .container-footer .container-footer-top .container-footer-sec1 p {
  font-size: 20px;
  color: #616161;
}
footer .container-footer .container-footer-top .container-footer-sec1 div {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
footer .container-footer .container-footer-top .container-footer-sec1 div span {
  color: #616161;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
}
footer .container-footer .container-footer-top .container-footer-sec1 div .circle-green {
  background-color: #198b44;
  height: 24px;
  width: 24px;
  border-radius: 100%;
}
footer .container-footer .container-footer-top .container-footer-sec2 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
footer .container-footer .container-footer-top .container-footer-sec2 h5 {
  font-size: 24px;
  font-weight: 500;
}
footer .container-footer .container-footer-top .container-footer-sec2 div {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container-footer .container-footer-top .container-footer-sec2 div i {
  font-size: 13px;
}
footer .container-footer .container-footer-top .container-footer-sec3 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
footer .container-footer .container-footer-top .container-footer-sec3 h5 {
  font-size: 24px;
  font-weight: 500;
}
footer .container-footer .container-footer-top .container-footer-sec3 div {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container-footer .container-footer-top .container-footer-sec3 div i {
  font-size: 13px;
}
footer .container-footer .container-footer-top .container-footer-sec4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container-footer .container-footer-top .container-footer-sec4 h5 {
  font-size: 24px;
  font-weight: 500;
}
footer .container-footer .container-footer-top .container-footer-sec4 .sosial-icons {
  display: flex;
  gap: 10px;
}
footer .container-footer .container-footer-top .container-footer-sec4 .sosial-icons a {
  text-decoration: none;
}
footer .container-footer .container-footer-top .container-footer-sec4 .sosial-icons a img {
  height: auto;
  width: 32px;
}
footer .container-footer .container-footer-bottom {
  margin-top: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  color: #616161;
  font-size: 20px;
}

@media (max-width: 1217px) {
  footer .container-footer {
    width: 100%;
    padding: 70px 20px 10px 20px;
  }
  footer .container-footer .container-footer-bottom {
    padding: 20px 0px;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer .container-footer .container-footer-top {
    padding: 20px 0px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 650px) {
  footer .container-footer {
    width: 100%;
    padding: 40px 20px 10px 20px;
  }
  footer .container-footer .container-footer-top {
    gap: 40px;
  }
  footer .container-footer .container-footer-top .container-footer-sec1 {
    bottom: 20px;
  }
  footer .container-footer .container-footer-bottom {
    flex-wrap: wrap;
    gap: 10px;
  }
}/*# sourceMappingURL=about.css.map */