$lightgreen: #ebfde9;
$boxtextcolor: #616161;
$greencol: #198b44;
$orange:#F37522;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    #about-intro {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .history {
            margin: 60px 0px 40px 0px;
        }
        .international{
            font-weight: 500;
            font-size: 64px;
            text-transform: uppercase;
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 15px;
            margin-bottom: 25px;
        }
        .world-map{
            height: auto;
            width: 100%;
        }
       .country{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
        .crew{
            width: 488px;
            height: 564px;
            border-radius: 24px;
            padding: 40px;
            background-color: $lightgreen;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
        .employee{
            width: 696px;
            height: 564px;
            border-radius: 24px;
            padding: 40px;
            background-color: $lightgreen;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
       }
        h2 {
            font-weight: 500;
            font-size: 64px;
            text-transform: uppercase;
        }
        > div {
            display: flex;
            align-items: end;
            img {
                height: auto;
                width: 72px;
            }
            p {
                color: #616161;
                font-size: 20px;
                font-weight: 400;

                text-align: center;
            }
        }
        .history-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 30px;
            width: 100%;
            margin: 40px 0px;
            div {
                width: 384px;
                height: 134px;
                border-radius: 24px;
                background-color: $greencol;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                font-weight: 500;
                color: #ebfde9;
                text-align: center;
            }
        }
        .history-circle-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 100px;
            margin: 50px 0px;
            .history-circle-box1{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                gap: 50px;

                div{
                    background-color: $orange;
                    width: 442.18px;
                    height: 143.41px;
                    border-radius: 46px;
                    text-align: center;
                    color: #ebfde9;
                    font-size: 35px;
                    padding: 40px 50px;
                    position: relative;

                    &:nth-child(2){
                        position: absolute;
                        top: 94%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }

    }
    #about-amo-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 40px 0px;
        row-gap: 30px;
        .amo-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            div {
                background-color: $greencol;
                width: 384px;
                height: 84.45px;
                border-radius: 243px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ebfde9;
                font-size: 50px;
            }
            span {
                font-size: 24px;
                color: $boxtextcolor;
                font-weight: 400;
            }
        }
    }
}

footer {
    background-color: $lightgreen;

    .container-footer {
        padding: 110px 0px 10px 0px;
        margin: 0px auto;
        width: 1216px;
        display: flex;

        flex-direction: column;
        justify-content: end;
        .container-footer-top {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .container-footer-sec1 {
                width: 200px;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                position: relative;
                bottom: 50px;
                .footer-logo {
                    height: auto;
                    width: 95px;
                }
                p {
                    font-size: 20px;
                    color: $boxtextcolor;
                }
                div {
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                    span {
                        color: $boxtextcolor;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        top: 2px;
                    }

                    .circle-green {
                        background-color: #198b44;
                        height: 24px;
                        width: 24px;
                        border-radius: 100%;
                    }
                }
            }

            .container-footer-sec2 {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                h5 {
                    font-size: 24px;
                    font-weight: 500;
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    i {
                        font-size: 13px;
                    }
                }
            }
            .container-footer-sec3 {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                h5 {
                    font-size: 24px;
                    font-weight: 500;
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    i {
                        font-size: 13px;
                    }
                }
            }
            .container-footer-sec4 {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h5 {
                    font-size: 24px;
                    font-weight: 500;
                }
                .sosial-icons {
                    display: flex;
                    gap: 10px;
                    a {
                        text-decoration: none;
                        img {
                            height: auto;
                            width: 32px;
                        }
                    }
                }
            }
        }
        .container-footer-bottom {
            margin-top: 20px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            color: $boxtextcolor;
            font-size: 20px;
        }
    }
}

@media (max-width: 1217px) {
    footer .container-footer {
        width: 100%;
        padding: 70px 20px 10px 20px;
    }
    footer .container-footer .container-footer-bottom {
        padding: 20px 0px;
        height: fit-content;
    }
    footer .container-footer .container-footer-top {
        padding: 20px 0px;
        height: fit-content;
    }
    main #about-amo-box {
        justify-content: center;
        gap: 20px;
    }
    main #about-intro .history-box {
        justify-content: center;
        gap: 20px;
    }
    main #about-intro .history-circle-container .history-circle-box1 div:nth-child(2) {
        position: static;
        transform: translate(0);
    }
    main #about-intro .history-circle-container .history-circle-box1 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    main #about-intro .country .crew {
        width: 100%;
        height: auto;
    }
    main #about-intro .country {
        justify-content: center;
        padding: 20px;
    }
    main #about-intro .country .employee {
        width: 100%;
        height: auto;
    }
}





@media (max-width: 800px) {
    main{
        margin: 0px  20px;
    }
   
    main #about-intro > div img {
        display: none;
    }
    main #about-intro {
        gap: 25px;
        padding: 0px 0px;
    }
    main #about-intro > div p {
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }
    main #about-intro h2 {
        font-size: 32px;
        margin: 35px 0px 20px 0px;
    }
    main #about-intro .international {
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        margin-top: 50px;
    }

    

}




@media (max-width: 650px) {
    footer .container-footer {
        width: 100%;
        padding: 40px 20px 10px 20px;
    }
    footer .container-footer .container-footer-top {
        gap: 40px;
    }
    footer .container-footer .container-footer-top .container-footer-sec1 {
        bottom: 20px;
    }
    footer .container-footer .container-footer-bottom {
        flex-wrap: wrap;
        gap: 10px;
    }
    main {
        margin: 20px 0px;
    }
    main #about-intro .history-circle-container .history-circle-box1 div {
        padding: 42px 30px;
        font-size: 25px;
    }
    main #about-amo-box .amo-box {
        width: 100%;
    }
    main #about-amo-box .amo-box div {
        width: 100%;
        font-size: 38px;
    }
    main #about-intro .history {
        margin: 40px 0px 40px 0px;
    }
    main #about-intro .history-box div {
        padding: 20px;
        font-size: 25px;
    }   
     main #about-intro {
        gap: 0px;
       
    }
    main #about-intro .history-circle-container .history-circle-box1:nth-child(1) div:nth-child(1) {
        padding: 0px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    main #about-intro .history-circle-container .history-circle-box1:nth-child(1) div:nth-child(2) {
        padding: 0px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    main #about-intro .history-circle-container .history-circle-box1:nth-child(1) div:nth-child(3) {
        padding: 0px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    main #about-intro .history-circle-container {
        gap: 18px;
        margin: 10px 0px;
    }
}
