@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: 0px 2px 15px -8px rgb(168, 168, 168);
}
header nav {
  margin: 0 auto;
  width: 1216px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}
header nav .burger-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
  cursor: pointer;
  display: none;
}
header nav .burger-menu:hover .long-green {
  display: inline-block;
  height: 3px;
  width: 30px;
  background-color: #10b14e;
}
header nav .burger-menu:hover .shot-green {
  display: inline-block;
  height: 3px;
  width: 20px;
  background-color: #10b14e;
}
header nav .burger-menu .long-green {
  display: inline-block;
  height: 3px;
  width: 30px;
  background-color: #198b44;
}
header nav .burger-menu .shot-green {
  display: inline-block;
  height: 3px;
  width: 20px;
  background-color: #198b44;
}
header nav #logo {
  width: 95px;
  height: auto;
}
header nav a {
  text-decoration: none;
  color: black;
}
header nav a div {
  font-size: 20px;
}
header nav ul {
  width: 572px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 24px;
  height: 40px;
}
header nav ul #companies {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
}
header nav ul #companies:hover .dropdown {
  display: flex;
}
header nav ul #companies .dropdown {
  position: absolute;
  top: 40px;
  transition: 0.2s all;
  background-color: #ebfde9;
  width: 206px;
  height: 127px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  padding: 20px;
  display: none;
}
header nav ul #companies .dropdown a {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
header nav ul #companies .dropdown a:hover {
  cursor: pointer;
  background-color: #c9ffc3;
  border-radius: 8px;
}
header nav ul #companies .dropdown a:hover i {
  visibility: visible;
  font-size: 14px;
}
header nav ul #companies .dropdown a i {
  visibility: hidden;
  margin-right: 10px;
}
header nav ul #companies:hover + .dropdown {
  display: block;
}
header nav ul li {
  position: relative;
}
header nav ul li .green {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: #198b44;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 70%);
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav .nav-links-mobile {
  background-color: #ebfde9;
  position: absolute;
  height: 100vh;
  width: 30%;
  min-width: 200px;
  left: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px;
  gap: 15px;
  align-items: start;
  transition: 1s all;
}
header nav .nav-links-mobile li:hover > a {
  background-color: #c9ffc3;
  border-radius: 8px;
}
header nav .nav-links-mobile li:hover i {
  display: block;
}
header nav .nav-links-mobile li a {
  display: flex;
  align-items: center;
  width: 150px;
  padding: 5px 15px;
  justify-content: space-between;
}
header nav .nav-links-mobile li a i {
  transition: 0.3s all;
  font-size: 13px;
  font-weight: 600;
  display: none;
}
header nav .nav-links-mobile .dropdown {
  display: flex;
  flex-direction: column;
  gap: 5px;
  pointer-events: all;
}
header nav .nav-links-mobile .dropdown a {
  margin-top: 5px;
  pointer-events: all;
}
header nav .nav-links-mobile .dropdown a:hover {
  pointer-events: all;
}
header nav .nav-links-mobile .dropdown a div {
  font-size: 12px;
  color: #198b44;
}
header nav .nav-links-mobile #companies-mobile {
  font-size: 20px;
  cursor: pointer;
  /* &:hover{
      .dropdown{
          height: auto;
          opacity: 1;
          pointer-events: all;
      }
  } */
}
header nav .nav-links-mobile #companies-mobile .dropdown {
  /*   height: 0;
  opacity: 0; */
  pointer-events: none;
}
header nav .nav-links-mobile #companies-mobile .dropdown a:hover {
  background-color: #c9ffc3;
  border-radius: 8px;
}
header nav .nav-links-mobile #companies-mobile #companies-mobile-drop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  width: 150px;
}
header nav .nav-links-mobile #companies-mobile #companies-mobile-drop:hover {
  background-color: #c9ffc3;
  border-radius: 8px;
}
header nav .nav-links-mobile #companies-mobile #companies-mobile-drop:hover i {
  display: flex;
}
header nav .nav-links-mobile #companies-mobile #companies-mobile-drop i {
  font-size: 13px;
  font-weight: 600;
  display: none;
}

main #amogrow-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #amogrow-intro h2 {
  font-weight: 500;
  font-size: 64px;
}
main #amogrow-intro > div {
  display: flex;
  align-items: end;
}
main #amogrow-intro > div img {
  height: auto;
  width: 72px;
}
main #amogrow-intro > div p {
  color: #616161;
  font-size: 20px;
  font-weight: 400;
  width: 650px;
  text-align: center;
}
main #amogrow-amo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0px;
  row-gap: 30px;
}
main #amogrow-amo-box .amo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
main #amogrow-amo-box .amo-box div {
  background-color: #198b44;
  width: 290px;
  height: 64.93px;
  border-radius: 243px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebfde9;
  font-size: 50px;
}
main #amogrow-amo-box .amo-box span {
  font-size: 24px;
  color: #616161;
  font-weight: 400;
}
main #amogrow-map {
  margin: 80px 0px;
}
main #amogrow-map .product-box h4 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 64px;
  font-weight: 500;
  text-transform: uppercase;
}
main #amogrow-map .map-box {
  height: 800px;
  margin-bottom: 100px;
}
main #amogrow-map .map-box img {
  font-size: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main #amogrow-map .map-box .toggle-video {
  position: absolute;
  top: 8%;
  right: 40%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 50px 50px;
  background-color: rgba(5, 150, 246, 0);
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
main #amogrow-map .map-box .toggle-video1 {
  position: absolute;
  top: 40%;
  right: 21%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 50px 50px;
  background-color: rgba(5, 150, 246, 0);
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
main #amogrow-map .map-box .toggle-video2 {
  position: absolute;
  top: 86%;
  right: 39%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 50px 50px;
  background-color: rgba(5, 150, 246, 0);
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
main #amogrow-map .map-box .container {
  position: absolute;
  top: 8.2%;
  right: 39.7%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  opacity: 0;
}
main #amogrow-map .map-box .container .dot {
  width: 10px;
  height: 10px;
  background-color: #198b44;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: dotPulse 2s infinite ease-in-out;
  opacity: 0;
  cursor: pointer;
}
main #amogrow-map .map-box .container .halo {
  width: 10px;
  height: 10px;
  border: 2px solid #198b44;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: haloExpand 2s infinite ease-in-out;
  opacity: 0;
  cursor: pointer;
}
@keyframes dotPulse {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes haloExpand {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
@keyframes pulseDot {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  50% {
    width: 100px;
    height: 100px;
    opacity: 0.5;
  }
  100% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
}
main #amogrow-map .close {
  position: fixed;
  right: 10px;
  top: 15px;
  color: white;
  cursor: pointer;
  z-index: 1000;
  font-weight: bold;
  font-size: 25px;
}
main #amogrow-map .open-video {
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
  background-color: rgba(0, 0, 0, 0.368627451);
  position: fixed;
  top: 0;
  left: 0;
}
main #amogrow-map .open-video.active {
  height: 100vh;
  width: 100%;
  position: fixed;
  /* top: 0; */
  bottom: -30rem;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
main #amogrow-map .open-video.active .container-text-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /*      background-color: #c9ffc35f; */
  position: relative;
  z-index: 100;
}
main #amogrow-map .open-video.active .container-text-video .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 593px;
  width: 50%;
  background-color: #ebfde9;
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
}
main #amogrow-map .open-video.active .container-text-video .video {
  height: 593px;
  width: 50%;
}
main #amogrow-map .open-video.active .container-text-video .video iframe {
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}
main #amogrow-map .open-video.active .container-text-video h4 {
  font-size: 64px;
  font-weight: 700;
  color: #198b44;
}
main #amogrow-map .open-video.active .container-text-video div {
  font-size: 32px;
  font-weight: 400;
}
main #amogrow-map .open-video.active .container-text-video p {
  font-size: 24px;
  font-weight: 400;
  color: #616161;
}
main #amogrow-map .tree-box {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main #amogrow-map .tree-box .tree-img {
  height: 600px;
  width: 482px;
}
main #amogrow-map .tree-box .tree-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main #amogrow-map .tree-box .tree-text {
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  font-size: 26px;
  color: #616161;
}
main #amogrow-map .tree-box .tree-text b {
  font-weight: 500;
}
main #amogrow-map .tree-box .tree-text .advvan-box {
  display: flex;
  flex-direction: column;
}
main #amogrow-map .tree-box .tree-text .advvan-box span {
  position: relative;
  padding-left: 40px;
  line-height: 1.5;
}
main #amogrow-map .tree-box .tree-text .advvan-box span::before {
  content: "•";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #000;
}
main #amogrow-map .tree-box .tree-text h4 {
  font-weight: 500;
  font-size: 64px;
}
main #amogrow-map .tree-box .tree-text p {
  font-size: 24px;
  color: #616161;
}
main #amogrow-map .product-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background-color: #ebfde9;
}
footer .container-footer {
  padding: 110px 0px 10px 0px;
  margin: 0px auto;
  width: 1216px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
footer .container-footer .container-footer-top {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container-footer .container-footer-top .container-footer-sec1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  bottom: 50px;
}
footer .container-footer .container-footer-top .container-footer-sec1 .footer-logo {
  height: auto;
  width: 95px;
}
footer .container-footer .container-footer-top .container-footer-sec1 p {
  font-size: 20px;
  color: #616161;
}
footer .container-footer .container-footer-top .container-footer-sec1 div {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
footer .container-footer .container-footer-top .container-footer-sec1 div span {
  color: #616161;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
}
footer .container-footer .container-footer-top .container-footer-sec1 div .circle-green {
  background-color: #198b44;
  height: 24px;
  width: 24px;
  border-radius: 100%;
}
footer .container-footer .container-footer-top .container-footer-sec2 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
footer .container-footer .container-footer-top .container-footer-sec2 h5 {
  font-size: 24px;
  font-weight: 500;
}
footer .container-footer .container-footer-top .container-footer-sec2 div {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container-footer .container-footer-top .container-footer-sec2 div i {
  font-size: 13px;
}
footer .container-footer .container-footer-top .container-footer-sec3 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
footer .container-footer .container-footer-top .container-footer-sec3 h5 {
  font-size: 24px;
  font-weight: 500;
}
footer .container-footer .container-footer-top .container-footer-sec3 div {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container-footer .container-footer-top .container-footer-sec3 div i {
  font-size: 13px;
}
footer .container-footer .container-footer-top .container-footer-sec4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container-footer .container-footer-top .container-footer-sec4 h5 {
  font-size: 24px;
  font-weight: 500;
}
footer .container-footer .container-footer-top .container-footer-sec4 .sosial-icons {
  display: flex;
  gap: 10px;
}
footer .container-footer .container-footer-top .container-footer-sec4 .sosial-icons a {
  text-decoration: none;
}
footer .container-footer .container-footer-top .container-footer-sec4 .sosial-icons a img {
  height: auto;
  width: 32px;
}
footer .container-footer .container-footer-bottom {
  margin-top: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  color: #616161;
  font-size: 20px;
}

@media (max-width: 1217px) {
  footer .container-footer {
    width: 100%;
    padding: 110px 20px 10px 20px;
  }
  footer .container-footer .container-footer-bottom {
    padding: 20px 0px;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer .container-footer .container-footer-top {
    padding: 20px 0px;
    height: -moz-fit-content;
    height: fit-content;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #amogrow-map .tree-box {
    justify-content: center;
    gap: 20px;
  }
  main #amogrow-map .map-box {
    margin-bottom: 0px;
  }
  main #amogrow-map .map-box {
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 50px;
  }
}
@media (max-width: 950px) {
  main #amogrow-map .open-video.active .container-text-video {
    flex-direction: column;
  }
  main #amogrow-map .open-video.active .container-text-video .text {
    border-radius: 20px;
    width: 100%;
  }
  main #amogrow-map .open-video.active .container-text-video h4 {
    font-size: 32px;
  }
  main #amogrow-map .open-video.active .container-text-video div {
    font-size: 22px;
  }
  main #amogrow-map .open-video.active .container-text-video p {
    font-size: 17px;
    text-align: justify;
  }
  main #amogrow-map .open-video.active .container-text-video .video {
    height: 593px;
    width: 100%;
  }
  main #amogrow-map .open-video.active .container-text-video .video iframe {
    border-radius: 20px;
  }
  main #amogrow-map .close {
    right: 11px;
    top: 14px;
  }
}
@media (max-width: 800px) {
  main {
    margin: 0px 20px;
  }
  main #amogrow-intro > div img {
    display: none;
  }
  main #amogrow-intro {
    gap: 25px;
    padding: 0px 0px;
  }
  main #amogrow-intro > div p {
    width: 100%;
    font-size: 17px;
    line-height: 17px;
  }
  main #amogrow-intro h2 {
    font-size: 32px;
    text-align: center;
  }
  main #amogrow-map .tree-box .tree-img {
    height: 500px;
    width: 100%;
  }
  main #amogrow-map .tree-box .tree-text {
    text-align: justify;
    margin-top: 30px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  main #amogrow-map .product-box h4 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 32px;
  }
  main #amogrow-map .tree-box .tree-text h4 {
    font-weight: 500;
    font-size: 32px;
  }
  main #amogrow-map .tree-box {
    margin-bottom: 47px;
  }
  main #amogrow-map .close {
    right: 15px;
    top: 15px;
  }
}
@media (max-width: 650px) {
  footer .container-footer {
    width: 100%;
    padding: 40px 20px 10px 20px;
  }
  footer .container-footer .container-footer-top {
    gap: 40px;
  }
  footer .container-footer .container-footer-top .container-footer-sec1 {
    bottom: 20px;
  }
  footer .container-footer .container-footer-bottom {
    flex-wrap: wrap;
    gap: 0px;
  }
  main #amogrow-amo-box .amo-box {
    width: 100%;
  }
  main #amogrow-amo-box .amo-box div {
    width: 100%;
    font-size: 38px;
  }
  main #amogrow-amo-box {
    width: 100%;
  }
  main #amogrow-map .tree-box .tree-text p {
    font-size: 17px;
    color: #616161;
  }
  main #amogrow-map .tree-box .tree-text {
    text-align: justify;
    margin-top: 0px;
  }
  main #amogrow-map .tree-box .tree-text {
    height: -moz-fit-content;
    height: fit-content;
  }
  main {
    width: 100%;
    padding: 0px 20px;
    margin: 60px 0px 0px 0px !important;
  }
  main #amogrow-map .product-box h4 {
    text-align: center;
    margin-bottom: 36px;
  }
  main #amogrow-map .tree-box .tree-text {
    gap: 40px;
  }
  main #amogrow-map .tree-box .tree-text {
    font-size: 23px;
  }
  main #amogrow-map .map-box .toggle-video {
    position: absolute;
    top: 10%;
    right: 23%;
    padding: 40px 40px;
  }
  main #amogrow-map .map-box .container {
    position: absolute;
    top: 8.2%;
    right: 20.8%;
  }
  main #amogrow-map .tree-box .tree-text .advvan-box {
    display: flex;
    flex-direction: column;
    font-size: 17px;
  }
  main #amogrow-map .map-box .toggle-video2 {
    position: absolute;
    top: 86%;
    right: 18%;
  }
  main #amogrow-map .map-box .toggle-video1 {
    right: 4%;
    padding: 40px 40px;
  }
}/*# sourceMappingURL=amogrow.css.map */